# .ccls
.ccls-cache/*

# binprivate-clause
bucle-forModificado
sectionsModificado
singleModificado
singleModificado2
singleModificado2
singleModificado2
sumaVectoresC-globales-ejer8
sumaVectoresC-globales-ensablador
sumaVectoresC-globales-ensamblador
